/sipsiko/nbproject/
/requirements/
/sipsiko/protected/runtime/
/SIPSIKO YII/
/demos/
/sipsiko/assets/
/nbproject/
/application/nbproject/private/
/application/protected/runtime/
/application/assets/
/application/nbproject/