
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic";
body {
    background-color: #222222;
    color: #394263;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
#main-container, #page-container {
    min-width: 320px;
}
#page-container {
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    transition: background-color 0.2s ease-out 0s;
    width: 100%;
}
#page-container, #sidebar {
    background-color: #394263;
}
#sidebar {
    overflow: hidden;
    position: absolute;
    width: 0;
}
#main-container, #sidebar, .header-fixed-bottom header, .header-fixed-top header {
    transition: all 0.2s ease-out 0s;
}
#page-content {
    background-color: #EAEDF1;
    min-height: 1200px;
    padding: 10px 5px 1px;
}
#page-content + footer {
    background-color: #FFFFFF;
    border-top: 1px solid #DBE1E8;
    font-size: 11px;
    padding: 9px 10px;
}
#page-container.header-fixed-top {
    padding: 50px 0 0;
}
#page-container.header-fixed-bottom {
    padding: 0 0 50px;
}
.sidebar-open #sidebar {
    width: 200px;
}
.sidebar-open #main-container {
    margin-left: 200px;
}
.header-fixed-bottom #sidebar, .header-fixed-top #sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
}
.header-fixed-bottom .sidebar-content, .header-fixed-top .sidebar-content {
    padding-bottom: 50px;
}
.sidebar-open header.navbar-fixed-bottom, .sidebar-open header.navbar-fixed-top {
    left: 200px;
}
header.navbar-default, header.navbar-inverse {
    border: 0 none;
    margin: 0;
    max-height: 50px;
    min-width: 320px;
    padding: 0;
}
header.navbar-fixed-bottom, header.navbar-fixed-top {
    max-height: 51px;
}
header.navbar-default.navbar-fixed-top {
    border-bottom: 1px solid #EAEDF1;
}
header.navbar-default.navbar-fixed-bottom {
    border-top: 1px solid #EAEDF1;
}
header.navbar-inverse.navbar-fixed-top {
    border-bottom: 1px solid #394263;
}
header.navbar-inverse.navbar-fixed-bottom {
    border-top: 1px solid #394263;
}
.nav.navbar-nav-custom {
    float: left;
    margin: 0;
}
.nav.navbar-nav-custom > li {
    float: left;
    min-height: 50px;
}
.nav.navbar-nav-custom > li > a {
    color: #394263;
    line-height: 40px;
    min-width: 50px;
    padding: 5px 7px;
    text-align: center;
}
.nav.navbar-nav-custom > li > a .fi, .nav.navbar-nav-custom > li > a .gi, .nav.navbar-nav-custom > li > a .hi, .nav.navbar-nav-custom > li > a .si {
    margin-top: -3px;
}
.navbar-inverse .nav.navbar-nav-custom > li > a {
    color: #FFFFFF;
}
.nav.navbar-nav-custom > li.open > a, .nav.navbar-nav-custom > li > a:focus, .nav.navbar-nav-custom > li > a:hover {
    background-color: #1BBAE1;
    color: #FFFFFF;
}
.nav.navbar-nav-custom > li > a > img {
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    height: 40px;
    vertical-align: top;
    width: 40px;
}
.navbar-form-custom {
    float: left;
    height: 50px;
    padding: 0;
    width: 100px;
}
.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 15px;
    height: 50px;
    margin: 0;
    padding: 10px;
    z-index: 2000;
}
.navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover {
    background-color: #FFFFFF;
}
.navbar-form-custom .form-control:focus {
    font-size: 18px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar-inverse .navbar-form-custom .form-control {
    color: #FFFFFF;
}
.navbar-inverse .navbar-form-custom .form-control:focus, .navbar-inverse .navbar-form-custom .form-control:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
.sidebar-content {
    color: #FFFFFF;
    width: 200px;
}
.sidebar-section {
    padding: 10px;
}
.sidebar-brand {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}
.sidebar-brand:focus, .sidebar-brand:hover {
    background-color: #1BBAE1;
    color: #FFFFFF;
    text-decoration: none;
}
.sidebar-brand i {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    opacity: 0.5;
    text-align: center;
    width: 18px;
}
.sidebar-user {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    padding-left: 88px;
}
.sidebar-user-avatar {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-radius: 34px;
    float: left;
    height: 68px;
    margin-left: -78px;
    padding: 2px;
    width: 68px;
}
.sidebar-user-avatar img {
    border-radius: 32px;
    height: 64px;
    width: 64px;
}
.sidebar-user-name {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 10px;
}
.sidebar-user-links a {
    color: #FFFFFF;
    margin-right: 5px;
    opacity: 0.3;
}
.sidebar-user-links a:focus, .sidebar-user-links a:hover {
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}
.sidebar-user-links a > i {
    font-size: 14px;
}
.sidebar-themes {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    list-style: none outside none;
    margin: 0;
    padding-bottom: 7px;
}
.sidebar-themes li {
    float: left;
    margin: 0 3px 3px 0;
}
.sidebar-themes li a {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: block;
    height: 17px;
    width: 17px;
}
.sidebar-themes li a:focus, .sidebar-themes li a:hover, .sidebar-themes li.active a {
    border-color: #FFFFFF !important;
}
.sidebar-nav {
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0;
}
.sidebar-nav .sidebar-header:first-child {
    margin-top: 0;
}
.sidebar-nav a {
    color: #EAEDF1;
    display: block;
    line-height: 35px;
    min-height: 35px;
    padding: 0 10px;
}
.sidebar-nav a.open, .sidebar-nav a:hover, .sidebar-nav li.active > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    text-decoration: none;
}
.sidebar-nav a.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-left: 5px solid #1BBAE1;
    padding-left: 5px;
}
.sidebar-nav a > .sidebar-nav-icon {
    margin-right: 10px;
}
.sidebar-nav a > .sidebar-nav-indicator {
    float: right;
    line-height: inherit;
    margin-left: 4px;
    transition: all 0.15s ease-out 0s;
}
.sidebar-nav a > .sidebar-nav-icon, .sidebar-nav a > .sidebar-nav-indicator {
    display: inline-block;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    width: 18px;
}
.sidebar-nav a.active, .sidebar-nav a.active > .sidebar-nav-icon, .sidebar-nav a.active > .sidebar-nav-indicator, .sidebar-nav a.open, .sidebar-nav a.open > .sidebar-nav-icon, .sidebar-nav a.open > .sidebar-nav-indicator, .sidebar-nav a:hover, .sidebar-nav a:hover > .sidebar-nav-icon, .sidebar-nav a:hover > .sidebar-nav-indicator, .sidebar-nav li.active > a, .sidebar-nav li.active > a > .sidebar-nav-icon, .sidebar-nav li.active > a > .sidebar-nav-indicator {
    opacity: 1;
}
.sidebar-nav a.active > .sidebar-nav-indicator, .sidebar-nav a.open > .sidebar-nav-indicator, .sidebar-nav li.active > a > .sidebar-nav-indicator {
    transform: rotate(-90deg);
}
.sidebar-nav ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.sidebar-nav li.active > ul {
    display: block;
}
.sidebar-nav ul a {
    font-size: 12px;
    line-height: 32px;
    margin: 0;
    min-height: 32px;
    padding-left: 15px;
}
.sidebar-nav ul a.active, .sidebar-nav ul a.active:hover {
    border-left: 5px solid #1BBAE1;
    padding-left: 10px;
}
.sidebar-nav ul ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}
.sidebar-nav ul ul a {
    padding-left: 25px;
}
.sidebar-nav ul ul a.active, .sidebar-nav ul ul a.active:hover {
    padding-left: 20px;
}
.sidebar-header {
    line-height: 12px;
    margin: 10px 0 0;
    padding: 10px;
}
.sidebar-header + .sidebar-section {
    padding-bottom: 0;
    padding-top: 0;
}
.sidebar-header .sidebar-header-title {
    color: #FFFFFF;
    font-size: 11px;
    opacity: 0.5;
    text-transform: uppercase;
}
.sidebar-header-options {
    display: inline-block;
    float: right;
}
.sidebar-header-options > a, .sidebar-nav .sidebar-header-options a {
    color: #FFFFFF;
    display: block;
    float: right;
    line-height: inherit;
    margin: 0;
    min-height: 0;
    min-width: 18px;
    opacity: 0.3;
    padding: 0;
    text-align: center;
}
.sidebar-header-options a.active, .sidebar-header-options a:focus, .sidebar-header-options a:hover, .sidebar-nav .sidebar-header-options a.active, .sidebar-nav .sidebar-header-options a:focus, .sidebar-nav .sidebar-header-options a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    opacity: 1;
}
.sidebar-header-options a > i {
    font-size: 14px;
}
.content-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBE1E8;
    border-top: 1px solid #EAEDF1;
}
.content-header h1, .content-header h2 {
    font-size: 26px;
    line-height: 32px;
    margin: 0;
}
.content-header small .content-header small {
    font-size: 17px;
}
.header-section h1 i {
    color: #EAEDF1;
    float: right;
    font-size: 56px;
    line-height: 64px;
    margin: 0 0 0 10px;
}
.header-section {
    padding: 30px 10px;
}
.content-header, .content-top {
    margin: -10px -5px 10px;
}
.content-top {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBE1E8;
}
.content-header-media {
    border-top-color: #222222;
    height: 248px;
    overflow: hidden;
    position: relative;
}
.content-header-media .header-section {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}
.content-header-media i, .content-header-media small {
    color: #DDDDDD;
}
.content-header-media > img {
    height: 248px;
    left: 50%;
    margin-left: -1280px;
    position: absolute;
    top: 0;
    width: 2560px;
}
.content-header-media > .content-header-media-map {
    height: 270px;
}
.block {
    background-color: #FFFFFF;
    border: 1px solid #DBE1E8;
    margin: 0 0 10px;
    padding: 20px 15px 1px;
}
.block.full {
    padding: 20px 15px;
}
.block .block-content-full {
    margin: -20px -15px -1px;
}
.block .block-content-mini-padding {
    padding: 8px;
}
.block.full .block-content-full {
    margin: -20px -15px;
}
.block-title {
    background-color: #F9FAFC;
    border-bottom: 1px solid #EAEDF1;
    margin: -20px -15px 20px;
}
.block-title h1, .block-title h2, .block-title h3, .block-title h4, .block-title h5, .block-title h6 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: 10px 16px 7px;
}
.block-title h1 small, .block-title h2 small, .block-title h3 small, .block-title h4 small, .block-title h5 small, .block-title h6 small {
    color: #777777;
    font-size: 13px;
    font-weight: 400;
}
.block-title h1, .block-title h2, .block-title h3 {
    padding-left: 15px;
    padding-right: 15px;
}
.block-options, .block-title .nav-tabs {
    line-height: 38px;
    min-height: 40px;
}
.block-title .nav-tabs {
    border-bottom: 0 none;
    padding: 3px 1px 0;
}
.block-title .nav-tabs > li > a {
    border-bottom: 0 none;
}
.block-title .nav-tabs {
    margin-bottom: -2px;
}
.block-title .nav-tabs > li > a {
    margin-bottom: 0;
}
.block-title .nav-tabs > li > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.block-title .nav-tabs > li.active > a, .block-title .nav-tabs > li.active > a:focus, .block-title .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #EAEDF1 #EAEDF1 #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.block-title code {
    padding: 2px 3px;
}
.block-options {
    line-height: 37px;
    margin: 0 6px;
}
.block-options .label {
    display: inline-block;
    font-size: 13px;
    padding: 6px;
    vertical-align: middle;
}
.block-top {
    border-bottom: 1px dotted #DBE1E8;
    margin: -20px -15px 20px;
}
.block-section {
    margin-bottom: 20px;
}
.widget {
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.widget .widget-extra, .widget .widget-extra-full {
    padding: 15px;
    position: relative;
}
.widget .widget-extra {
    padding-bottom: 1px;
    padding-top: 1px;
}
.widget .widget-content-light {
    color: #FFFFFF;
}
.widget .widget-content-light small {
    color: #EEEEEE;
}
.widget .widget-icon, .widget .widget-image {
    height: 64px;
    width: 64px;
}
.widget .widget-icon {
    border-radius: 32px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 28px;
    height: 64px;
    line-height: 64px;
    text-align: center;
}
.widget .widget-icon .fi, .widget .widget-icon .gi, .widget .widget-icon .hi, .widget .widget-icon .si {
    margin-top: -3px;
}
.widget .widget-options, .widget .widget-options-left {
    opacity: 0.5;
    position: absolute;
    top: 5px;
}
.widget .widget-options {
    right: 5px;
}
.widget .widget-options-left {
    left: 5px;
}
.widget .widget-options-left:hover, .widget .widget-options:hover {
    opacity: 1;
}
.widget-simple {
    padding: 15px;
}
.widget-simple:after, .widget-simple:before {
    content: " ";
    display: table;
}
.widget-simple:after {
    clear: both;
}
.widget-simple .widget-icon, .widget-simple .widget-image {
    margin: 0 15px;
}
.widget-simple .widget-icon.pull-left, .widget-simple .widget-image.pull-left {
    margin-left: 0;
}
.widget-simple .widget-icon.pull-right, .widget-simple .widget-image.pull-right {
    margin-right: 0;
}
.widget-simple .widget-content {
    font-size: 18px;
    margin: 12px 0;
}
.widget-simple .widget-content small {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-top: 7px;
}
.widget-advanced .widget-header {
    height: 150px;
    overflow: hidden;
    padding: 15px 15px 50px;
    position: relative;
}
.widget-advanced .widget-background {
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
}
.widget-advanced .widget-background-map {
    height: 180px;
    width: 100%;
}
.widget-advanced .widget-content-image {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    left: 0;
    margin: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
}
.widget-advanced .widget-main {
    padding: 50px 15px 15px;
    position: relative;
}
.widget-advanced .widget-image-container {
    background-color: #FFFFFF;
    border-radius: 36px;
    display: inline-block;
    height: 74px;
    left: 50%;
    margin-left: -36px;
    padding: 5px;
    position: absolute;
    top: -36px;
    width: 74px;
}
.widget-advanced .widget-header .widget-image-container {
    left: auto;
    margin: 0;
    position: static;
    top: auto;
}
.widget-advanced-alt .widget-header, .widget-advanced-alt .widget-main {
    padding: 15px;
}
.widget-advanced-alt .widget-header {
    height: auto;
    min-height: 150px;
}
.content-float .pull-left {
    margin: 0 20px 20px 0;
}
.content-float .pull-right {
    margin: 0 0 20px 20px;
}
#to-top {
    background-color: #000000;
    border-radius: 3px;
    bottom: 55px;
    color: #FFFFFF;
    display: none;
    font-size: 28px;
    left: 5px;
    opacity: 0.1;
    padding: 0 12px;
    position: fixed;
    text-align: center;
}
#to-top:hover {
    background-color: #1BBAE1;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}
#login-background {
    height: 224px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#login-background > img {
    height: 400px;
    left: 50%;
    margin-left: -1280px;
    position: absolute;
    width: 2560px;
}
#login-container {
    left: 50%;
    margin-left: -150px;
    position: absolute;
    top: 10px;
    width: 300px;
    z-index: 1000;
}
#login-container .login-title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    padding: 20px 10px;
}
#login-container .login-title h1 {
    color: #FFFFFF;
    font-size: 26px;
}
#login-container .login-title small {
    color: #DDDDDD;
    font-size: 16px;
}
#login-container > .block {
    border: 0 none;
}
#login-container .register-terms {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}
.calendar-events {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.calendar-events li {
    background-color: #555555;
    border-radius: 3px;
    color: #FFFFFF;
    margin-bottom: 5px;
    opacity: 0.85;
    padding: 5px 10px;
}
.calendar-events li:hover {
    cursor: move;
    opacity: 1;
}
.gallery a img, .gallery img, .gallery-image img, a[data-toggle="lightbox-image"] img {
    max-width: 100%;
}
a.gallery-link, a[data-toggle="lightbox-image"] {
    cursor: zoom-in;
}
.gallery a:hover img, .gallery-image:hover img, a[data-toggle="lightbox-image"]:hover img {
    opacity: 0.75;
}
.gallery-image {
    position: relative;
}
.gallery-image-options {
    bottom: 0;
    display: none;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.gallery-image:hover .gallery-image-options {
    display: block;
}
.gallery > .row > div {
    margin-bottom: 15px;
}
.gallery.gallery-widget > .row > div {
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-top: 7px;
}
.pie-chart .pie-avatar {
    left: 8px;
    position: absolute;
    top: 8px;
}
.chart {
    height: 360px;
}
.chart-tooltip, .mini-chart-tooltip {
    background-color: #000000;
    color: #FFFFFF;
    display: none;
    padding: 4px 10px;
    position: absolute;
}
.chart-pie-label {
    color: #FFFFFF;
    font-size: 12px;
    padding: 8px 12px;
    text-align: center;
}
.mini-chart-tooltip {
    left: 0;
    top: 0;
    visibility: hidden;
}
.timeline {
    position: relative;
}
.timeline-header {
    background-color: #FFFFFF;
    border-bottom: 2px solid #F0F0F0;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    margin: 0;
    min-height: 60px;
    padding: 0 15px;
    z-index: 500;
}
.timeline-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.timeline-list:after {
    background-color: #F0F0F0;
    bottom: 0;
    content: "";
    display: block;
    left: 95px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
}
.timeline-header + .timeline-list:after {
    top: 60px;
}
.timeline-list li {
    margin: 0;
    padding: 15px 0;
    position: relative;
}
.timeline-list.timeline-hover li:hover {
    background-color: #F9F9F9;
}
.timeline-list .timeline-icon {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    font-size: 14px;
    height: 30px;
    left: 80px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 30px;
    z-index: 500;
}
.timeline-list .active .timeline-icon {
    background-color: #1BBAE1;
    border-color: #1BBAE1;
    color: #FFFFFF;
}
.timeline-list .timeline-time {
    float: left;
    text-align: right;
    width: 70px;
}
.timeline-list .timeline-content {
    margin-left: 120px;
}
.block-content-full .timeline-content {
    padding-right: 20px;
}
.media-feed {
    margin-bottom: 0;
}
.media-feed > .media {
    border-top: 1px dotted #DBE1E8;
    margin-top: 0;
    padding: 20px 20px 0;
}
.media-feed > .media:first-child {
    border-top: 0 none;
}
.media-feed.media-feed-hover > .media:hover {
    background-color: #F9F9F9;
}
#error-container {
    padding: 120px 20px;
    position: relative;
}
#error-container .error-options {
    left: 20px;
    position: absolute;
    top: 20px;
}
#error-container h1 {
    color: #FFFFFF;
    font-size: 96px;
    margin-bottom: 40px;
}
#error-container h2 {
    color: #CCCCCC;
    line-height: 1.4;
    margin-bottom: 40px;
}
#error-container form {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 20px;
}
#error-container .form-control {
    border-color: #FFFFFF;
}
.table.table-pricing {
    background-color: #FFFFFF;
}
.table-pricing td, .table-pricing th {
    text-align: center;
}
.table-pricing th {
    font-size: 24px !important;
}
.table-pricing td {
    font-size: 15px;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}
.table-pricing .table-price {
    background-color: #F9F9F9;
}
.table-pricing .table-price.table-featured, .table-pricing.table-featured .table-price {
    background-color: #252525;
}
.table-pricing th.table-featured, .table-pricing.table-featured th {
    background-color: #1BBAE1;
    border-bottom: 2px solid #394263;
    color: #FFFFFF;
}
.table-pricing td.table-featured, .table-pricing.table-featured td {
    background-color: #394263;
    color: #FFFFFF;
}
.navbar.navbar-default {
    background-color: #F9FAFC;
}
.navbar.navbar-inverse {
    background-color: #4C5471;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    border-width: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: #777777;
    font-weight: 300;
}
h1, h2, h3 {
    margin-bottom: 15px;
}
.text-primary, .text-primary:hover, a, a:focus, a:hover {
    color: #1BBAE1;
}
.text-danger, .text-danger:hover, a.text-danger, a.text-danger:focus, a.text-danger:hover {
    color: #E74C3C;
}
.text-warning, .text-warning:hover, a.text-warning, a.text-warning:focus, a.text-warning:hover {
    color: #E67E22;
}
.text-success, .text-success:hover, a.text-success, a.text-success:focus, a.text-success:hover {
    color: #27AE60;
}
.text-info, .text-info:hover, a.text-info, a.text-info:focus, a.text-info:hover {
    color: #3498DB;
}
.text-muted, .text-muted:hover, a.text-muted, a.text-muted:focus, a.text-muted:hover {
    color: #999999;
}
b, strong {
    font-weight: 600;
}
ol, ul {
    padding-left: 30px;
}
.list-li-push li {
    margin-bottom: 10px;
}
p {
    line-height: 1.6;
}
article p {
    font-size: 16px;
    line-height: 1.8;
}
.well {
    background-color: #F9F9F9;
    border: 1px solid #EEEEEE;
}
.page-header {
    border-bottom-color: #DDDDDD;
    border-bottom-width: 1px;
    margin: 30px 0 20px;
}
.sub-header {
    border-bottom: 1px dotted #DDDDDD;
    margin: 10px 0 20px;
    padding: 10px 0;
}
blockquote {
    border-color: #EAEDF1;
    border-left-width: 3px;
    margin: 20px 0;
    padding: 30px 60px 30px 20px;
    position: relative;
    width: 100%;
}
blockquote:before {
    color: #EAEDF1;
    content: "“";
    display: block;
    font-family: serif;
    font-size: 96px;
    position: absolute;
    right: 10px;
    top: -30px;
}
blockquote.pull-right:before {
    left: 10px;
    right: auto;
}
label {
    font-weight: 600;
}
fieldset legend {
    border-bottom: 2px solid #EAEDF1;
    font-size: 16px;
    padding: 30px 0 10px;
}
input[type="file"] {
    padding-top: 7px;
}
input.form-control[type="email"], input.form-control[type="password"], input.form-control[type="text"], textarea.form-control {
}
.form-control {
    border-color: #DBE1E8;
    color: #394263;
    font-size: 13px;
    margin: 1px 0;
    max-width: 100%;
    padding: 6px 8px;
}
.form-control-borderless, .form-control-borderless .form-control, .form-control-borderless .input-group-addon, .form-control-borderless:focus {
    border: medium none rgba(0, 0, 0, 0) !important;
}
.input-group {
    margin-bottom: 1px;
    margin-top: 1px;
}
.input-group .form-control {
    margin-top: 0;
}
.form-control:focus {
    border-color: #1BBAE1;
}
.help-block {
    color: #777777;
    font-weight: 400;
}
.input-group-addon {
    background-color: #FFFFFF;
    border-color: #DBE1E8;
    min-width: 45px;
    text-align: center;
}
.form-horizontal .control-label {
    margin-bottom: 5px;
}
.form-bordered {
    margin: -15px -15px -1px;
}
.modal-body .form-bordered {
    margin-bottom: -20px;
}
.form-bordered fieldset legend {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.form-bordered .form-group {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #EAEDF1;
    border-image: none;
    border-style: none none dashed;
    border-width: 0 0 1px;
    margin: 0;
    padding: 15px;
}
.form-bordered .form-group.form-actions {
    background-color: #F9FAFC;
    border-bottom: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form-horizontal.form-bordered .form-group {
    padding-left: 0;
    padding-right: 0;
}
.form-bordered .help-block {
    margin-bottom: 0;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .input-group-addon, .has-success .radio, .has-success .radio-inline {
    color: #27AE60;
}
.has-success .form-control, .has-success .input-group-addon {
    background-color: #FFFFFF;
    border-color: #27AE60;
}
.has-success .form-control:focus {
    border-color: #166638;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .input-group-addon, .has-warning .radio, .has-warning .radio-inline {
    color: #E67E22;
}
.has-warning .form-control, .has-warning .input-group-addon {
    background-color: #FFFFFF;
    border-color: #E67E22;
}
.has-warning .form-control:focus {
    border-color: #B3621B;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .input-group-addon, .has-error .radio, .has-error .radio-inline {
    color: #E74C3C;
}
.has-error .form-control, .has-error .input-group-addon {
    background-color: #FFFFFF;
    border-color: #E74C3C;
}
.has-error .form-control:focus {
    border-color: #C0392B;
}
.wizard-steps {
    border-bottom: 1px solid #EAEDF1;
    margin-bottom: 20px;
}
.form-bordered .wizard-steps {
    margin-bottom: 0;
}
.wizard-steps .row {
    margin: 0;
}
.wizard-steps .row div {
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
}
.form-bordered .wizard-steps .row div {
    padding-top: 10px;
}
.wizard-steps span {
    border: 1px solid #1BBAE1;
    border-radius: 50px;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    width: 100px;
}
.wizard-steps div.active span, .wizard-steps div.done span {
    background-color: #1BBAE1;
    color: #FFFFFF;
}
.wizard-steps div.done span {
    opacity: 0.25;
}
.wizard-steps div.active span {
    opacity: 1;
}
.switch {
    cursor: pointer;
    margin: 1px 0;
    position: relative;
}
.switch input {
    opacity: 0;
    position: absolute;
}
.switch span {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 28px;
    display: inline-block;
    height: 28px;
    position: relative;
    transition: background-color 0.35s ease 0s;
    width: 54px;
}
.switch span:after {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 24px;
    bottom: 7px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
    content: "";
    left: 7px;
    position: absolute;
    top: 7px;
    transition: all 0.15s ease-out 0s;
    width: 12px;
}
.switch input:checked + span:after {
    border: 0 none;
    bottom: 1px;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);
    left: 26px;
    top: 1px;
    width: 24px;
}
.switch input:checked + span {
    background-color: #EEEEEE;
}
.switch-default span {
    border-color: #DBE1E8;
}
.switch-default input:checked + span {
    background-color: #DBE1E8;
}
.switch-primary span {
    border-color: #1BBAE1;
}
.switch-primary input:checked + span {
    background-color: #1BBAE1;
}
.switch-info span {
    border-color: #7ABCE7;
}
.switch-info input:checked + span {
    background-color: #7ABCE7;
}
.switch-success span {
    border-color: #AAD178;
}
.switch-success input:checked + span {
    background-color: #AAD178;
}
.switch-warning span {
    border-color: #F7BE64;
}
.switch-warning input:checked + span {
    background-color: #F7BE64;
}
.switch-danger span {
    border-color: #EF8A80;
}
.switch-danger input:checked + span {
    background-color: #EF8A80;
}
.table.table-vcenter td, .table.table-vcenter th {
    vertical-align: middle;
}
.table-options {
    padding: 6px 0;
}
.table thead > tr > th {
    /*font-size: 18px;*/
    /*font-weight: 600;*/
}
.table thead > tr > th > small {
    font-size: 75%;
    font-weight: 400;
}
.table tfoot > tr > td, .table tfoot > tr > th, .table thead > tr > td, .table thead > tr > th {
    /*padding-bottom: 14px;*/
    /*padding-top: 14px;*/
}
.table tfoot > tr > td, .table tfoot > tr > th {
    background-color: #F9FAFC;
}
.table-borderless tbody > tr > td, .table-borderless tbody > tr > th {
    border-top-width: 0;
}
.table tbody + tbody, .table tbody > tr > td, .table tbody > tr > th, .table tfoot > tr > td, .table tfoot > tr > th, .table thead > tr > td, .table thead > tr > th, .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-color: #EAEDF1;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #EAEDF1;
}
.list-group-item {
    border-color: #EAEDF1;
}
a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #1BBAE1;
    border-color: #1BBAE1;
}
a.list-group-item.active .list-group-item-text, a.list-group-item.active:focus .list-group-item-text, a.list-group-item.active:hover .list-group-item-text {
    color: #FFFFFF;
}
a.list-group-item:focus, a.list-group-item:hover {
    background-color: #F9FAFC;
}
a.list-group-item.active > .badge {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #1BBAE1;
    color: #FFFFFF;
}
.nav > li i {
    font-size: 14px;
}
.nav-pills > .active > a > .badge {
    color: #1BBAE1;
}
.nav-stacked > li > a {
    margin: 4px 0 0;
}
.nav .caret, .nav a:focus .caret, .nav a:hover .caret {
    border-bottom-color: #1BBAE1;
    border-top-color: #1BBAE1;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #F9FAFC;
}
.nav-tabs {
    border-bottom-color: #EAEDF1;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.nav-tabs > li > a {
    margin-bottom: -1px;
    padding-left: 7px;
    padding-right: 7px;
}
.nav-tabs > li > a:hover {
    border-color: #EAEDF1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-color: #EAEDF1 #EAEDF1 rgba(0, 0, 0, 0);
    color: #394263;
}
.nav-pills > li.active > a > .badge {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}
.dropdown-menu {
    border-color: #DBE1E8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    padding: 0;
}
.dropdown-menu > li > a {
    padding: 6px 10px;
}
.dropdown-menu > li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dropdown-menu > li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.dropdown-menu i {
    line-height: 17px;
    opacity: 0.2;
}
.dropdown-menu a:hover i {
    opacity: 0.5;
}
.dropdown-menu .divider {
    background-color: #F0F0F0;
    margin: 2px 0;
    padding: 0 !important;
}
li.dropdown-header {
    background-color: #F9FAFC;
    border-bottom: 1px solid #EAEDF1;
    border-top: 1px solid #EAEDF1;
    color: #394263;
    padding: 5px 10px;
}
.dropdown-menu li.dropdown-header:first-child {
    border-top: 0 none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dropdown-menu.dropdown-custom {
    min-width: 200px;
}
.dropdown-menu.dropdown-custom > li {
    font-size: 12px;
    padding: 8px 10px;
}
.dropdown-menu.dropdown-custom > li > a {
    border-radius: 3px;
}
.pagination > li > a, .pagination > li > span {
    border: 0 none !important;
    border-radius: 25px !important;
    color: #1BBAE1;
    margin-left: 5px;
    margin-right: 5px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #1BBAE1;
}
.pager > li > a, .pager > li > span {
    border-color: #EAEDF1;
}
.pager > li > a:hover, .pagination > li > a:hover {
    background-color: #1BBAE1;
    border-color: #1BBAE1;
    color: #FFFFFF;
}
.pager > li.disabled > a:hover {
    border-color: #EAEDF1;
}
.popover-title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 17px;
    font-weight: 600;
}
.tooltip {
    z-index: 1051;
}
.tooltip.in {
    opacity: 1;
}
.tooltip-inner {
    background-color: #000000;
    color: #FFFFFF;
    padding: 4px 6px;
}
.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
    border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #000000;
}
.breadcrumb {
    background-color: #FFFFFF;
}
.breadcrumb i {
    font-size: 14px;
}
.breadcrumb-top {
    border-bottom: 1px solid #DBE1E8;
    border-top: 1px solid #EAEDF1;
    font-size: 12px;
    margin: -10px -5px 10px;
    padding: 7px 10px;
}
.breadcrumb-top + .content-header, .content-header + .breadcrumb-top {
    margin-top: -11px;
}
.breadcrumb > li + li:before {
    content: "›";
}
.progress, .progress-bar {
    height: 20px;
    line-height: 20px;
}
.progress-bar-danger {
    background-color: #E74C3C;
}
.progress-bar-warning {
    background-color: #F39C12;
}
.progress-bar-success {
    background-color: #2ECC71;
}
.progress-bar-info {
    background-color: #3498DB;
}
.modal-content {
    border-radius: 3px;
}
.modal-header {
    border-bottom: 1px solid #EEEEEE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 15px 14px;
}
.modal-title {
    font-weight: 300;
}
.modal-body {
    padding: 20px 15px;
}
.modal-body .nav-tabs {
    margin: 0 -15px 15px;
    padding: 0 5px !important;
}
.modal-footer {
    background-color: #F9F9F9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #EEEEEE;
    margin-top: 0;
    padding: 14px 15px 15px;
}
.btn {
    background-color: #FFFFFF;
    margin: 1px 0;
}
.btn .fi, .btn .gi, .btn .hi, .btn .si {
    line-height: 1;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.4;
}
.block-options .btn, .input-group .btn, .modal-content .btn {
    margin-bottom: 0;
    margin-top: 0;
}
.btn-default {
    background-color: #F1F3F6;
    border-color: #DBE1E8;
    color: #394263;
}
.btn-default.btn-alt {
    background-color: #FFFFFF;
}
.btn-default:hover {
    background-color: #EAEDF1;
    border-color: #C2C8CF;
}
.btn-default.active, .btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default:active, .btn-default:focus, .btn-default.active[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, .open .btn-default.dropdown-toggle, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #EAEDF1;
    border-color: #EAEDF1;
}
.btn-primary {
    background-color: #6AD2EB;
    border-color: #1BBAE1;
    color: #FFFFFF;
}
.btn-primary.btn-alt {
    background-color: #FFFFFF;
    color: #1BBAE1;
}
.btn-primary:hover {
    background-color: #1BBAE1;
    border-color: #1593B3;
    color: #FFFFFF;
}
.btn-primary.active, .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, .open .btn-primary.dropdown-toggle, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #1BBAE1;
    border-color: #1BBAE1;
    color: #FFFFFF;
}
.btn-danger {
    background-color: #EF8A80;
    border-color: #E74C3C;
    color: #FFFFFF;
}
.btn-danger.btn-alt {
    background-color: #FFFFFF;
    color: #E74C3C;
}
.btn-danger:hover {
    background-color: #E74C3C;
    border-color: #9C3428;
    color: #FFFFFF;
}
.btn-danger.active, .btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger:active, .btn-danger:focus, .btn-danger.active[disabled], .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, .open .btn-danger.dropdown-toggle, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #E74C3C;
    border-color: #E74C3C;
    color: #FFFFFF;
}
.btn-warning {
    background-color: #F7BE64;
    border-color: #F39C12;
    color: #FFFFFF;
}
.btn-warning.btn-alt {
    background-color: #FFFFFF;
    color: #F39C12;
}
.btn-warning:hover {
    background-color: #F39C12;
    border-color: #B3730C;
    color: #FFFFFF;
}
.btn-warning.active, .btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning:active, .btn-warning:focus, .btn-warning.active[disabled], .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, .open .btn-warning.dropdown-toggle, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #F39C12;
    border-color: #F39C12;
    color: #FFFFFF;
}
.btn-success {
    background-color: #AAD178;
    border-color: #7DB831;
    color: #FFFFFF;
}
.btn-success.btn-alt {
    background-color: #FFFFFF;
    color: #7DB831;
}
.btn-success:hover {
    background-color: #7DB831;
    border-color: #578022;
    color: #FFFFFF;
}
.btn-success.active, .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success:active, .btn-success:focus, .btn-success.active[disabled], .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, .open .btn-success.dropdown-toggle, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #7DB831;
    border-color: #7DB831;
    color: #FFFFFF;
}
.btn-info {
    background-color: #7ABCE7;
    border-color: #3498DB;
    color: #FFFFFF;
}
.btn-info.btn-alt {
    background-color: #FFFFFF;
    color: #3498DB;
}
.btn-info:hover {
    background-color: #3498DB;
    border-color: #2875A8;
    color: #FFFFFF;
}
.btn-info.active, .btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info:active, .btn-info:focus, .btn-info.active[disabled], .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, .open .btn-info.dropdown-toggle, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #3498DB;
    border-color: #3498DB;
    color: #FFFFFF;
}
.btn-link, .btn-link.btn-icon:focus, .btn-link.btn-icon:hover, .btn-link:focus, .btn-link:hover {
    color: #1BBAE1;
}
.btn-link.btn-icon {
    color: #999999;
}
.btn-link.btn-icon:focus, .btn-link.btn-icon:hover {
    text-decoration: none;
}
.block-options .btn {
    border-radius: 15px;
    min-width: 30px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.panel {
    margin-bottom: 20px;
}
.panel-heading {
    padding: 15px;
}
.panel-title {
    font-size: 14px;
}
.panel-default > .panel-heading {
    background-color: #F9F9F9;
}
.panel-group {
    margin-bottom: 20px;
}
pre {
    background: none repeat scroll 0 0 #151515;
    overflow: scroll;
}
code {
    border: 1px solid #FAD4DF;
    display: inline-block;
    margin: 1px 0;
}
.btn code {
    display: inline;
    margin: 0;
}
.alert {
    border-width: 0 2px;
}
.alert-danger {
    background-color: #FFD1CC;
    border-color: #FFB8B0;
    color: #E74C3C;
}
.alert-danger .alert-link {
    color: #E74C3C;
}
.alert-warning {
    background-color: #FFE4CC;
    border-color: #FFD6B2;
    color: #E67E22;
}
.alert-warning .alert-link {
    color: #E67E22;
}
.alert-success {
    background-color: #DAF2E4;
    border-color: #B8E5CB;
    color: #27AE60;
}
.alert-success .alert-link {
    color: #27AE60;
}
.alert-info {
    background-color: #DAE8F2;
    border-color: #B8D2E5;
    color: #3498DB;
}
.alert-info .alert-link {
    color: #3498DB;
}
.alert-dismissable .close {
    right: -25px;
    top: -5px;
}
.close {
    text-shadow: none;
}
.alert.alert-alt {
    border-width: 0 0 0 2px;
    font-size: 12px;
    margin: 0 0 2px;
    padding: 5px;
}
.alert.alert-alt small {
    opacity: 0.75;
}
.alert-alt.alert-dismissable .close {
    right: 0;
}
.alert-alt.alert-dismissable .close:hover {
    color: #FFFFFF;
}
.alert-danger.alert-alt {
    border-color: #E74C3C;
}
.alert-warning.alert-alt {
    border-color: #E67E22;
}
.alert-success.alert-alt {
    border-color: #27AE60;
}
.alert-info.alert-alt {
    border-color: #3498DB;
}
.sidebar-content .alert.alert-alt {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    margin-left: -10px;
    padding-left: 15px;
}
.badge, .label {
    font-size: 90%;
    font-weight: 400;
}
.label {
    padding: 1px 4px;
}
.badge {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    padding: 3px 6px;
}
.label-danger {
    background-color: #E74C3C;
}
.label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #FF5542;
}
.label-warning {
    background-color: #E67E22;
}
.label-warning[href]:focus, .label-warning[href]:hover {
    background-color: #FF8B26;
}
.label-success {
    background-color: #27AE60;
}
.label-success[href]:focus, .label-success[href]:hover {
    background-color: #2CC76C;
}
.label-info {
    background-color: #2980B9;
}
.label-info[href]:focus, .label-info[href]:hover {
    background-color: #2F92D4;
}
.label-primary {
    background-color: #1BBAE1;
}
.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #5AC5E0;
}
.label-default {
    background-color: #999999;
}
.label-default[href]:focus, .label-default[href]:hover {
    background-color: #777777;
}
.carousel-control.left, .carousel-control.left.no-hover:hover, .carousel-control.right, .carousel-control.right.no-hover:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.carousel-control.left:hover, .carousel-control.right:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
.carousel-control span {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-control i {
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px;
}
.alert, .carousel, .table, p {
    margin-bottom: 20px;
}
.btn.active, .form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}
.alert.alert-alt, .breadcrumb, .dropdown-menu, .navbar, .navbar-form-custom .form-control, .tooltip-inner {
    border-radius: 0;
}
.push-bit {
    margin-bottom: 10px !important;
}
.push {
    margin-bottom: 15px !important;
}
.push-top-bottom {
    margin-bottom: 40px;
    margin-top: 40px;
}
.lt-ie9 .hidden-lt-ie9 {
    display: none !important;
}
.display-none {
    display: none;
}
.remove-margin {
    margin: 0 !important;
}
.remove-padding {
    padding: 0 !important;
}
.remove-radius {
    border-radius: 0 !important;
}
.remove-box-shadow {
    box-shadow: none !important;
}
.remove-transition {
    transition: none 0s ease 0s !important;
}
:focus {
    outline: 0 none !important;
}
.style-alt #page-content {
    background-color: #FFFFFF;
}
.style-alt .block {
    border-color: #DBE1E8;
}
.style-alt .block.block-alt-noborder {
    border-color: rgba(0, 0, 0, 0);
}
.style-alt .block-title {
    background-color: #DBE1E8;
    border-bottom-color: #DBE1E8;
}
.style-alt #page-content + footer, .style-alt .breadcrumb-top + .content-header, .style-alt .content-header + .breadcrumb-top {
    background-color: #F9FAFC;
}
.style-alt .breadcrumb-top, .style-alt .content-header {
    border-bottom-color: #EAEDF1;
}
.style-alt #page-content + footer {
    border-top-color: #EAEDF1;
}
.style-alt .widget {
    background-color: #F6F6F6;
}
.test-circle {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    border-radius: 50px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    height: 100px;
    line-height: 100px;
    margin-bottom: 15px;
    text-align: center;
    width: 100px;
}
.themed-color {
    color: #1BBAE1;
}
.themed-border {
    border-color: #1BBAE1;
}
.themed-background {
    background-color: #1BBAE1;
}
.themed-color-dark {
    color: #394263;
}
.themed-border-dark {
    border-color: #394263;
}
.themed-background-dark {
    background-color: #394263;
}
@media screen and (min-width: 768px) {
    #login-background {
        height: 400px;
    }
    #login-background > img {
        top: 0;
    }
    #login-container {
        margin-left: -240px;
        top: 186px;
        width: 480px;
    }
    #main-container {
        min-width: 768px;
    }
    #page-content {
        padding: 20px 20px 1px;
    }
    #page-content + footer, .block, .block.full, .breadcrumb-top, .header-section, .modal-body {
        padding-left: 20px;
        padding-right: 20px;
    }
    .block .block-content-full {
        margin: -20px -20px -1px;
    }
    .block.full .block-content-full {
        margin: -20px;
    }
    .breadcrumb-top, .content-header, .content-top {
        margin: -20px -20px 20px;
    }
    .breadcrumb-top + .content-header, .content-header + .breadcrumb-top {
        margin-top: -21px;
    }
    .block, .widget {
        margin-bottom: 20px;
    }
    .block-title, .block-top, .form-bordered {
        margin-left: -20px;
        margin-right: -20px;
    }
    .form-bordered .form-group {
        padding-left: 20px;
        padding-right: 20px;
    }
    .form-horizontal.form-bordered .form-group {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-tabs > li > a {
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    #sidebar {
        transition: opacity 0.5s linear 0s, background-color 0.2s ease-out 0s;
    }
    #main-container, .header-fixed-bottom header, .header-fixed-top header {
        transition: none 0s ease 0s;
    }
    #sidebar {
        opacity: 0.2;
        width: 65px !important;
    }
    #main-container {
        margin-left: 65px !important;
    }
    .sidebar-brand i {
        display: none;
    }
    #sidebar:hover, .sidebar-full #sidebar {
        opacity: 1;
        width: 200px !important;
    }
    #sidebar:hover .sidebar-brand i, .sidebar-full #sidebar .sidebar-brand i {
        display: inline-block;
    }
    #sidebar:hover + #main-container, .sidebar-full #main-container {
        margin-left: 200px !important;
    }
    .sidebar-open header.navbar-fixed-bottom, .sidebar-open header.navbar-fixed-top, header.navbar-fixed-bottom, header.navbar-fixed-top {
        left: 65px;
    }
    #sidebar:hover + #main-container header.navbar-fixed-bottom, #sidebar:hover + #main-container header.navbar-fixed-top, .sidebar-full header.navbar-fixed-bottom, .sidebar-full header.navbar-fixed-top {
        left: 200px;
    }
}
@media (min-width: 1200px) {
    .header-fixed-bottom .sidebar-content, .header-fixed-top .sidebar-content {
        padding-bottom: 0;
    }
    article p {
        font-size: 19px;
        line-height: 1.9;
    }
}
